node_modules/
munchkin/node_modules/

# dependencies
munchkin/node_modules
munchkin/.pnp
munchkin/.pnp.js

# testing
munchkin/coverage

# production
munchkin/build

# misc
munchkin/.DS_Store
munchkin/.env.local
munchkin/.env.development.local
munchkin/.env.test.local
munchkin/.env.production.local

munchkin/npm-debug.log*
munchkin/yarn-debug.log*
munchkin/yarn-error.log*
