.listItem {
    font-size: 28px;
    .icon {
        width:30px;
    }
    &:first-child > span:first-child {
        color: red;
    }
}
.exit {
    width: 75px;
    height: 35px;
    font-size: 24px;
    position: absolute;
    left: 0;right: 0;
    margin: auto;
}

.editName {
    width: 100px;
    height: 25px;
    font-size: 25px;
}